<!DOCTYPE html>
<html lang="{{ currentLanguage }}" dir="{{ isRTL ? 'rtl' : 'ltr' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ pagetitle }}</title>
  <link rel="stylesheet" type="text/css" href="{{ asset("css/main-style.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ asset("css/mobile-style.css") }}" media="(max-width: 1024px)">
  <link rel="icon" href="{{ asset("icons/xlogo-2019.png.pagespeed.ic.HVPxFxoHdA.webp") }}">
  <meta name="robots" content="noindex, nofollow">
  <script src="{{ asset('js/jquery-3.6.0-min.js') }}"></script>
  <script src="{{ asset('js/bundle.js') }}"></script>
  {% block preload %}{% endblock %}
</head>
<body id="{{ templateId }}">
<div id="layout">
  {% block header %}{% endblock %}
  <main>
    {% block contentwrapper %}
      {% block content %}{% endblock %}
    {% endblock contentwrapper %}
    <div id="push"></div>
  </main>
</div> {# layout #}
<div id="foot">
  {% block footer %}{% endblock %}
</div>
{#<script>#}
{#  document.addEventListener("DOMContentLoaded", function () {#}
{#    var errTab = document.getElementById('submit_button');#}
{#    if (errTab) {#}
{#      $(errTab).addClass('active');#}
{#    }#}

{#    var errorButton = document.getElementById('errorButton');#}
{#    if (errorButton) {#}
{#      errorButton.addEventListener('click', function () {#}
{#        var errorBox = document.getElementById('errorBox');#}
{#        if (errorBox) {#}
{#          errorBox.style.display = (errorBox.style.display === 'none' || errorBox.style.display === '') ? 'block' : 'none';#}
{#        }#}
{#      });#}
{#    }#}
{#  });#}
{#</script>#}
{% block postload %}{% endblock %}
</body>
</html>
