
{% set pagetitle = dictTitle | trans %}
{% extends "base.twig" %}

{% block content %}
{#    <h2>{{ dictTitle | trans }}</h2>#}
{#    {{ dictDescr | trans(parameters) }}#}

    {# include optional information for error
       Some exceptions set 'includeTemplate' to the name of a template to include.
       e.g. "core:no_state.tpl.php". The format is "<module>:<template name>"
    #}
    {% if includeTemplate -%}
        {% set parts = includeTemplate|split(':') %}
        {% set namespacedTemplate = "@" ~ parts[0] ~ "/" ~ parts[1] %}
        {% include(namespacedTemplate) %}
    {%- endif %}
    <div class="subnav">
    </div>
    <div class="container">
        <img class="kiu-img"
             src="{{ asset('icons/xlogo-2019.png.pagespeed.ic.HVPxFxoHdA.webp') }}">
        <div class="tabs">
            <ul>
                <li class="err_tab">{{ 'Bad request received' | trans }}</li>
            </ul>
        </div>
        <br>
        <section>
            <div class="err-msg">
                <p>{{ 'There is an error in the request to this page. The reason was: %REASON%'  | trans }}</p>
                <p>{{ 'If you report this error, please also report this tracking number which makes it possible to locate your session in the logs available to the system administrator:' | trans }}</p>
                <div class="input-group col-2">
                    <label class="default-label" style="color: red;"
                           id="trackid">{{ 'Tracking number:' | trans }}</label>
                    <input type="text" class="input" name="tracking-number" value="{{ error.trackId }}" readonly
                           id="tracking-number">
                    <div class="remark">
            <span>
        <img width="25" height="25" alt="Copy to VK" src="/public_html/simplesaml/assets/base/icons/copy.png?tag=08f86"
             onclick="copyTrackingNumber()">
    </span>
                    </div>
                </div>
            </div>
        </section>

        <section>
            {# Add error report submit section if we have a valid technical contact. 'errorreportaddress' will only be set if
the technical contact email address has been set. #}
            {% if errorReportAddress is defined -%}
                <h1>{{ 'Report errors' | trans }}</h1>
                <div class="err_tab">
                    <form action="{{ errorReportAddress }}" class="pure-form" method="post">
                        <div class="input-group col-2">
                            <label for="email" class="default-label">{{ 'E-mail address' | trans }}</label>
                            <input type="email" placeholder="{{ 'Enter your email address' | trans }}"
                                   required class="input" name="email" value="">
                        </div>
                        <div class="input-group col-2">
                            <label for="password" class="default-label">{{ 'Password' | trans }}</label>
                            <textarea id="password" class="metadatabox" name="text" rows="6" cols="50"
                                      placeholder="{{ 'Explain what you did when this error occurred...' | trans }}"
                                      required></textarea>
                        </div>
                        <br>
                        <p>
                            <input type="hidden" name="reportId" value="{{ error.reportId }}"/>
                            <input type="submit" name="send" class="button btn-default btn-reg-wide"
                                   value="{{ 'SEND ERROR REPORT' | trans }}"/>
                        </p>
                    </form>
                </div>
                <br>
                <h1>{{ 'How to get help' | trans }}</h1>
                <p>{{ 'This error probably is due to some unexpected behaviour or to misconfiguration of SimpleSAMLphp. Contact the administrator of this login service, and send them the error message above.' | trans }}</p>

                {# print out exception only if the exception is available #}
                {% if showerrors -%}
                    <h1>
                        <button id="errorButton">
                            {{ 'Debug information' | trans }}
                            <img class="icon" src="{{ asset('icons/arrow-down.png') }}" onclick="addEventListener()">
                        </button>
                    </h1>
                    <div id="errorBox" style="display: none;">

                        <p>{{ 'The debug information below may be of interest to the administrator / help desk:' | trans }}</p>
                        <div class="code-box code-box-content">
                            <p>{{ error.exceptionMsg }}<br/>{{ error.exceptionTrace }}</p>
                        </div>
                    </div>

                {%- endif %}
                <center>
                    <h2><p class="my_center"><b>{{ 'Copyright © 2007-2025 KIU named. V.G. Timiryazova (IEUP)' | trans }}</b></p>
                    </h2>
                </center>

            {%- endif %}
        </section>
    </div>

    <script>
        function copyTrackingNumber() {
            var copyText = document.getElementById("tracking-number");
            if (copyText) {
                copyText.select();
                navigator.clipboard.writeText(copyText.value)
                    .catch(err => console.error('Could not copy text: ', err));
            }
        }
    </script>
{% endblock %}